import java.math.BigDecimal;
import java.util.Date;
import java.util.List;
import java.util.UUID;
import java.util.stream.Stream;

import javax.validation.Valid;
import javax.validation.constraints.DecimalMax;
import javax.validation.constraints.DecimalMin;
import javax.validation.constraints.Max;
import javax.validation.constraints.Min;
import javax.validation.constraints.NotNull;
import javax.validation.constraints.Pattern;
import javax.validation.constraints.Size;

import com.fasterxml.jackson.annotation.JsonCreator;
import com.fasterxml.jackson.annotation.JsonFormat;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.databind.annotation.JsonDeserialize;


import java.io.Serializable;
import com.bellid.util.json.piimasking.MaskPii;
import com.bellid.util.json.validation.DecimalsCount;

import com.bellid.asptsm.paymentgateway.api.common.PaymentGatewayRequest;
import com.bellid.asptsm.paymentgateway.api.common.PaymentGatewayResponse;

import com.bellid.asptsm.paymentgateway.validator.ValidEnum;
import com.bellid.asptsm.paymentgateway.validator.AbstractEnum;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
