{{#vendorExtensions.x-isRequest}}extends PaymentGatewayRequest{{/vendorExtensions.x-isRequest}}{{#vendorExtensions.x-isResponse}}extends PaymentGatewayResponse{{/vendorExtensions.x-isResponse}} implements Serializable
